<%- include("templates/headers",{tittle:'CRUD TOOLS'}) %>
<%- include("templates/navbar", { menuItems: menuItems }) %>

<div class="row mt-5 text-center">
  <div class="col-lg-6 area_encriptar">
    <div class="form-floating ">
      <textarea class="form-control area_style" id="txt_new"></textarea>
      <label for="floatingTextarea">TEXTO</label>
    </div>
  </div>
  <div class="col-lg-6 area_encriptar">
   <div class="col-lg-12">
      <div class="form-floating ">
        <textarea readonly class="form-control area_style" id="txt_encode"></textarea>
        <label for="floatingTextarea">ENCODE</label>
        <button class="boton-copy btn_copy" data-type="encode">
          <i class="fa-regular fa-copy"></i>
        </button>
      </div>
   </div>
   <div class="col-lg-12">
      <div class="form-floating ">
        <textarea readonly class="form-control area_style" id="txt_decode"></textarea>
        <label for="floatingTextarea">DECODE</label>
        <button class="boton-copy btn_copy" data-type="decode" >
          <i class="fa-regular fa-copy"></i>
        </button>
      </div>
   </div>
  </div>    
</div>
<div class="row mt-5 text-center">
  <div class="col-lg-12">
    <button id="btn_next" style="width: 50%;" class="btn btn-outline-success">Generar</button>    
  </div>  
</div>

<script src="./js/main.js"></script>

<script src="./js/encriptar.js"></script>

<%- include("templates/footer") %>