/* Modo claro */
/* :root {
  --body-bg: #FFFFFF;
  --body-color: #000000;
}
 @media (prefers-color-scheme: dark) {
  :root {
      --body-bg: #000000;
      --body-color: #FFFFFF;
  }
} */

/* body {
  background: var(--body-bg);
  color: var(--body-color);
} */

html, body {
  height: 100%;
  margin: 0;
}
.l_row_style{
  height:800px;
  width: 100%;
  overflow: auto;

 }

 .area_encriptar {
  height: 200px;
  border: 1px solid #ccc;
  /* width: 100%; */
  box-sizing: border-box; /* Esto asegura que el border y el padding no se sumen al tamaño total */
}

.area_style1 {
  resize: none;
  height: 100%;
  box-sizing: border-box; /* Asegúrate de usar la misma configuración de box-sizing que en el contenedor padre */
}
.area_style{  
  resize: none;
  height: 100px;
}

 


.boton-copy {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
}



input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #0dcaf0;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}
  .drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}
.drop-container.drag-active {
  background: #eee;
  border-color: #111;
}

.drop-container.drag-active .drop-title {
  color: #222;
}





/* chat */
.chat_body{
  height: 800px;
  overflow: auto;
}
.text_msg{
  height: 400px;
  overflow: auto;
}
.chat_button{
  /* height: 100px; */
  overflow: auto;
}
 
 
 
.message-me {
  position: relative;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #A8DDFD;
  width: 200px;
  height: 50px;
  text-align: left;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 1px solid #97C6E3;
  border-radius: 10px;
}

.message-other {
  position: relative;
  margin-bottom: 10px;
  margin-left: calc(100% - 240px);
  padding: 10px;
  background-color: #f8e896;
  width: 200px;
  height: 50px;
  text-align: left;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 1px solid #dfd087;
  border-radius: 10px;
}

.message-content {
  padding: 0;
  margin: 0;
}

.message-timestamp-right {
  position: absolute;
  font-size: .85em;
  font-weight: 300;
  bottom: 5px;
  right: 5px;
}

.message-timestamp-left {
  position: absolute;
  font-size: .85em;
  font-weight: 300;
  bottom: 5px;
  left: 5px;
}

.message-me:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #A8DDFD;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  left: -15px;
}

.message-me:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid #97C6E3;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  top: -1px;
  left: -17px;
}

.message-other:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f8e896;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  bottom: 0;
  right: -15px;
}

.message-other:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 17px solid #dfd087;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  bottom: -1px;
  right: -17px;
}
