/* Modo claro */
:root {
  --body-bg: #FFFFFF;
  --body-color: #000000;
}
/* Modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
      --body-bg: #000000;
      --body-color: #FFFFFF;
  }
}

body {
  background: var(--body-bg);
  color: var(--body-color);
}


.l_row_style{
  height:800px;
  width: 100%;
  overflow: auto;

 }
