<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
 
    <!-- bootstrap -->
    <link rel="stylesheet" href="static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/sweetalert2/dist/sweetalert2.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="static/@fortawesome/fontawesome-free/css/all.min.css">   
    
    <link rel="shortcut icon" href="#" />

    <script src="static/@popperjs/core/dist/umd/popper.js"></script>

    <script src="static/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <script src="static/sweetalert2/dist/sweetalert2.js"></script>

</head>
<body>

 